<a href="/items/view/{{id}}">
    <div class="card item-card" style="width: 18rem;">
        <li class="list-group-item title">{{title}}</li>
        <img src="/images/tomato.jpg" class="card-img-top" alt="produce-pic">
        <div class="card-body">
            <h5 class="card-title">Quantity: ${{item_price}}/{{item_unit}}</h5>
            <p class="card-text">{{item_description}}</p>
        </div>
    </div>
</a>
