<a href="/view/{{id}}">
    <div class="card item-card" style="width: 18rem;">
        <li class="card-title list-group-item">{{title}}</li>
        <img src="/images/b-logo.png" class="card-img-top browse-logo" alt="produce-pic">
        <div class="card-body">
            <p class="card-text">${{item_price}}/{{item_unit}}</p>
            <p class="card-text">Quantity: {{item_quantity}}</p>
        </div>
    </div>
</a>
