{{!-- <div id = "{{id}}" class="card item-card" style="width: 50%; height: 30rem;">
        <div class="col-md-4 card-pic">
        <img src="/images/tomato.jpg" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="col-md-8">
        <div class="card-body">
            <div class="group-card-elements">
                <h5 class="card-title ">$ <span class="item-price">{{item_price}}</span></h5>
                <h5 class="card-title">Quantity: $<span class="item-quantity">{{item_quantity}}</span>/<span class="item-unit">{{item_unit}}</span></h5>
                <h5 class="card-title item-categories">{{category.category_name}}</h5>            
            </div>
                <h4 class="item-title title" style="max-width: 100%">{{title}}</h4>
                <h5 class="item-name">{{item_name}}</h5>
            <p class="card-text item-description">{{item_description}}</p>
            <div class="group-card-elements">
            <p class="card-text"><small class="text-muted">{{user.location}}</small></p>
            <p class="card-text"><small class="text-muted">{{format_time createdAt}}</small></p>
            </div>
        </div>
        </div>

        <div class="item-buttons">
            <button id = "{{id}}" type="button" class="btn item-btn edit-item">Edit</button>   
            <button type="button" class="btn item-btn delete-item" data-id="{{id}}">Delete</button>       
        </div>
</div> --}}
<div id = "{{id}}" class="card mb-3 item-card" style="max-width: 500px;">
    <div class="row g-0">
        <div class="col-md-4 card-pic">
            <div class="item-buttons">
            </div>
            <img src="/images/b-logo.png" class="img-fluid rounded-start items-b-logo" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-title">
                <h2 class="item-title"><strong>{{title}}</strong> </h2>
            </div>
            <div class="card-body">
                <p class="card-text">Item Name: <span class="item-name">{{item_name}}</span><p>
                <p class="card-text">Category: {{category.category_name}}</p>

                    <p class="card-text">Price: $ <span class="item-price">{{item_price}}</span> / <span class="item-unit">{{item_unit}}</span></p>
                    <p class="card-text">Quantity: <span class="item-quantity">{{item_quantity}}</span></p>
                    <!-- <p class="card-body">$5/lb</h5>
                    <h5 class="card-body">Quantity: 10</h5> -->
                    
                    <p class="card-text">Description: <span class="item-description">{{item_description}}</span></p>
                    <p class="card-text"><small class="text-muted">Date created: {{format_time createdAt}}</small></p>
                    <div class="center-btns">
                        <button id = "{{id}}" type="button" class="btn item-btn edit-item">Edit</button>   
                        <button type="button" class="btn item-btn delete-item" data-id="{{id}}">Delete</button>           
                    </div>


            </div>
            <!-- <div class="group-card-elements">
            <p class="card-text"><small class="text-muted">Downtown</small></p>
            <p class="card-text"><small class="text-muted">7/7/2021</small></p>
            </div> -->

        </div>
    </div>
</div>
{{!-- </div> --}}
{{!-- <div class="card item-card" style="width: 18rem;">
    <li class="list-group-item title">{{title}}</li>
    <img src="images/tomato.jpg" class="card-img-top" alt="produce-pic">
    <div class="card-body">
        <h5 class="card-title">Quantity: ${{item_price}}/{{item_unit}}</h5>
        <p class="card-text">{{item_description}}</p>
        <div class="item-buttons">
            <button id="edit-item" type="button" class="btn item-btn">Edit</button>   
            <button id="delete-item" type="button" class="btn item-btn" data-id={{id}}>Delete</button>       
        </div>
    </div>
</div> --}}

<script src="/js/deleteItem.js"></script>

