<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4 card-pic">
        <img src="" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <div class="group-card-elements">
                <h5 class="card-title">${{item_price}}</h5>
                <h5 class="card-title">Quantity: {{item_quntity}}</h5>
                <h5 class="card-title">{{category.category_name}}</h5>            
            </div>
                <h4 class="item-title">{{title}}</h4>
                <h5 class="item-name">{{item_name}}</h5>
            <p class="card-text">{{item_description}}</p>
            <div class="group-card-elements">
            <p class="card-text"><small class="text-muted">{{user.location}}</small></p>
            <p class="card-text"><small class="text-muted">{{created_at}}</small></p>
            </div>
        </div>
        </div>
    </div>
</div>
