<div class="page-container">
    <div class="left-container">
        <div class="seller-info">
            <h3>Seller Information</h3>
            <img id="seller-img" src="/images/UserProfile-1.PNG">
            <p>{{user.username}}</p>
            <p>{{user.location}}</p>
            <a class="seller-btn" href="/users/seller/{{user.user_id}}"><button>Go to Seller's Profile</button></a>
        </div>
    </div>
    <div class="right-container">
        <div class="item-info">
            <h3>{{title}}</h3>
            <h4>{{item_name}}</h4>
            <h4>${{item_price}}/{{item_unit}}</h4>
            <h4>Quantity available: {{item_quantity}}</h4>
            <h4>Category: {{cat_name}}</h4>
            <h4>Date posted: {{format_time created_at}}    Updated at: {{format_time updated_at}}</h4>

            <p>{{item_description</p>    
        </div>
        <img id="item-view-img" src="images/tomato.jpg" class="card-img-top" alt="...">
    </div>

</div>
