<div>
    <form>
        <div id="cart-form">
        <div>
            <label for="cart-quantity"><b>Quantity</b></label>
            <select id="cart-quantity" name="locations" id="location-signup">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button type="submit" class="btn add-cart">Add to Cart</button>
        </div>

    </form>

</div>
<div class="page-container">
    <div class="left-container">
        <div class="seller-info">
            <h3>Seller Information</h3>
            <img id="seller-img" src="/images/UserProfile-1.PNG">
            <p>{{user.username}}</p>
            <p>{{user.location}}</p>
            <a class="seller-btn" href="/users/seller/{{user.user_id}}"><button>Go to Seller's Profile</button></a>
        </div>
    </div>
    <div class="right-container">
        <div class="item-info">
            <h3>{{title}}</h3>
            <h4 id="itemview-name">{{item_name}}</h4>
            <h4>$<span id="itemview-price">{{item_price}}</span>/<span id="itemview-unit">{{item_unit}}</span></h4>
            <h4>Quantity available: <span id="itemview-quantity">{{item_quantity}}</span></h4>
            <h4>Category: <span id="itemview-catname">{{cat_name}}</span></h4>
            <h4>Date posted: <span >{{format_time createdAt}}</span>    Updated at: <span>{{format_time updatedAt}}</span></h4>

            <p>{{item_description}}</p>    
        </div>
        <img id="item-view-img" src="images/tomato.jpg" class="card-img-top" alt="...">
    </div>
<script src="/js/shoppingcart.js"></script>
</div>

